app = "halolight-api-java"
primary_region = "sjc"

[build]

[env]
PORT = "8000"
SPRING_PROFILES_ACTIVE = "prod"

[http_service]
auto_start_machines = true
auto_stop_machines = "suspend"
force_https = true
internal_port = 8000
min_machines_running = 1
processes = ["app"]

[[http_service.checks]]
grace_period = "60s"
interval = "30s"
method = "GET"
path = "/actuator/health"
protocol = "http"
timeout = "10s"

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
